<h1><%= title %></h1>
<% if (messages.notice) { %>
  <div class="notice"><%= messages.notice %></div>
<% } %>

<% if (messages.error) { %>
  <div class="error"><%= messages.error %></div>
<% } %>


<div class="login-container">
  <form method="POST" action="/account/login">
    
    <label for="account_email">Email Address:</label>
    <input
      type="email"
      name="account_email"
      id="account_email"
      required
      value="<%= typeof account_email !== 'undefined' ? account_email : '' %>"
    >

    <label for="account_password">Password</label>
    <input
      type="password"
      name="account_password"
      id="account_password"
      required
       minlength="12"
      pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*]).{12,}$"
      title="Must be at least 12 characters, include 1 capital letter, 1 number, and 1 special character."
    >

    <p class="password-info">
      Passwords must be minimum of 12 characters and include
      1 capital letter, 1 number and 1 special character.
    </p>

    <button type="button" id="togglePassword">Show Password</button>

    <input type="submit" value="Login" class="login-btn">

  </form>

  <p class="signup-link">
    No account? <a href="/account/register">Sign-up</a>
  </p>
</div>

<script>
  const toggle = document.getElementById("togglePassword");
  const password = document.getElementById("account_password");

  toggle.addEventListener("click", () => {
    if (password.type === "password") {
      password.type = "text";
      toggle.textContent = "Hide Password";
    } else {
      password.type = "password";
      toggle.textContent = "Show Password";
    }
  });
</script>
